/* .base-stat input::-webkit-outer-spin-button,
-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.base-stat input[type="number"] {
  -moz-appearance: textfield;
} */

.stat-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.left-side {
  flex: flex-grow;
  margin-right: 1rem;
}

.left-side .mat-mdc-form-field {
  width: 14.5rem;
}

.right-side {
  flex: flex-grow;
}

.right-side .mat-mdc-form-field {
  width: 14rem;
}
