<div class="container">
  <div class="left-side">
    <mat-form-field>
      <label>{{ statName }}</label>
      <input
        matInput
        type="number"
        class="base-stat"
        [formControl]="baseStat"
      />
    </mat-form-field>
  </div>
  <div class="right-side">
    <mat-form-field>
      <label>CURRENT {{ statName }}</label>
      <input
        matInput
        type="number"
        class="current-stat"
        [formControl]="currentStat"
      />
    </mat-form-field>
  </div>
</div>
