h2 {
  margin-left: 3.5rem;
}

.container {
  margin-left: 3rem;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.left-side {
  flex: flex-grow;
  margin-right: 1rem;
  width: 100%;

  /* margin-top: 3rem; */
}

.right-side {
  flex: flex-grow;
  width: 100%;
  margin-top: 2rem;
}

.armor-and-stability {
  display: flex;
  flex-flow: row;
}

.armor {
  flex: flex-grow;
  margin-right: 1rem;
}

.stability {
  flex: flex-grow;
}

.deprived {
  margin: 0 12px;
}

.inventory {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.inventory h3 {
  margin-top: 0px;
}

.inventory-item {
  flex: flex-grow;
  width: 100%;
}

.release-note {
  font-size: 0.75rem;
  width: 85%;
}

.state {
  font-weight: 700;
}

:host ::ng-deep .label-and-input {
  width: 14.5rem;
}

.full-width {
  width: 98%;
}

.stat-container {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.stat-left-side {
  flex: flex-grow;
  margin-right: 1rem;
}

.stat-left-side .mat-mdc-form-field {
  width: 14.5rem;
}

.stat-right-side {
  flex: flex-grow;
}

.stat-right-side .mat-mdc-form-field {
  width: 14rem;
}

.submit-button {
  margin-bottom: 1rem;
  margin-right: 1rem;
  float: right;
}
