h2 {
  margin-left: 3.5rem;
}

.container {
  margin-left: 3rem;
  display: flex;
  flex-flow: row;
  align-items: stretch;
}

.left-side {
  flex: flex-grow;
  margin-right: 1rem;
  margin-top: 3rem;
}

.right-side {
  flex: flex-grow;
  width: 100%;
}

.armor-and-stability {
  display: flex;
  flex-flow: row;
}

.armor {
  flex: flex-grow;
  margin-right: 1rem;
}

.stability {
  flex: flex-grow;
}

.deprived {
  margin: 0 12px;
}

.inventory {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.inventory h3 {
  margin-top: 0px;
}

.inventory-item {
  flex: flex-grow;
  width: 100%;
}
