<h2>Liminal Horror Character Sheet</h2>
<div class="container">
  <div class="left-side">
    <p class="release-note">
      <span class="state">ALPHA:</span> This character sheet currently stores
      data in localstorage in your browser. It will persist as long as you do
      not clear your cache. Upcoming releases will include a better storage
      system.
    </p>
    <!-- <button mat-button color="primary" (click)="(saveCharacter)"></button> -->
    <div class="name"><character-name></character-name></div>
    <div class="background"><background></background></div>
    <div class="stats">
      <character-stat statName="STRENGTH"></character-stat>
      <character-stat statName="DEXTERITY"></character-stat>
      <character-stat statName="CONTROL"></character-stat>
    </div>
    <div class="hp-and-deprived">
      <div class="hp">
        <character-stat statName="HP"></character-stat>
      </div>
      <div class="deprived">
        <mat-checkbox labelPosition="before">DEPRIVED?</mat-checkbox>
      </div>
    </div>
    <div class="armor-and-stability">
      <div class="armor">
        <label-and-input label="ARMOR" type="number"></label-and-input>
      </div>
      <div class="stability">
        <label-and-input label="STABILITY" type="number"></label-and-input>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="inventory">
      <h3>INVENTORY</h3>
      <inventory-slot
        class="inventory-item"
        [handed]="true"
        hand="R. HAND"
      ></inventory-slot>
      <inventory-slot
        class="inventory-item"
        [handed]="true"
        hand="L. HAND"
      ></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
      <inventory-slot class="inventory-item"></inventory-slot>
    </div>
  </div>
</div>
<div class="notes">
  <markdown-editor-container></markdown-editor-container>
</div>
